/* /media-query.css */


@media only screen and (max-width: 576px) {
    .nav .logo {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }
    .nav .collapse {
        display: none;
    }
    .nav .menu {
        display: block;
    }
    .nav:hover .collapse{
        display: block;
    }
    .nav:hover .menu{
        display: none;
    }

    .home-info .title {
        font-size: 42px;
        line-height: 53px;
    }

    .team {
        flex-direction: column-reverse;
        margin-top: 30px;
        align-items: center;
    }
    .team .gallery {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .gallery img {
        max-width: 242px;
        max-height: 242px;
    }
    .info .info-title { 
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 18px;
    }
    info .description {
        line-height: 22px;
        margin-bottom: 20px;
    }
    .features {
        grid-template-columns: 1fr;
        gap: 45px;
        margin-top: 85px;
        margin-bottom: 20px;
    }
    .features img {
        height: 90%;
    }
    .btn-move {
        left: 0;
        top: 0;
        margin: var(--common-margin);
        display: block;
        padding: 20px;
    }
    #year {
        font-size: 42px;
        line-height: 50px;
    }
    
}